/*Declaração de variável*/
:root{
    --dourado: #dba723;
    --preto: #141414;
}

/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 5px;
    color: var(--dourado);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: white;
}