/*Declaração de variável*/
:root{
    --dourado: #dba723;
    --preto: #141414;
}

/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos base*/
body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 5px;
    color: var(--dourado);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: white;
}

/*Filme principal*/
.filme-principal{
    background: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.055)100%), url('/img/capa-hp-part2.jpg');
    height: 400px;
    background-size: cover;
}