@charset "UTF-8";

@font-face {
    font-family: 'Wizard World';
    src: url('/font/WizardWorldSimplified-Kxr7.ttf');
}

/*Declaração de variável*/
:root {
    --dourado: #dba723;
    --preto: #141414;
}

/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos base*/
body{
    background: var(--preto);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--dourado);
    font-family: 'Wizard World', sans-serif;
    font-size: 40px;
    margin-top: 3px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    font-family: 'Wizard World', sans-serif;
}

header nav a:hover {
    color: white;
}

/*Filme principal*/
.filme-principal {
    background: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.055)100%), url('/img/capa-hp-part2.jpg');
    height: 450px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.titulo {
    width: 300px;
}

.info, .sinopse {
    margin-bottom: 10px;
}

.descricao {
    margin-bottom: 35px;
    width: 500px;
}

.botao {
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
}

.botao:hover {
    background-color: var(--dourado);
    color: black;
    transition: 0.3s ease-in;
}

.botao i {
    margin-right: 5px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container{
    width: 75%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}